/* line 3, ../sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 11, ../sass/main.scss */
.main_gohan {
  background: #3735bd url(../img/gh-mainbg3.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 14, ../sass/main.scss */
.main_gohan .navbar {
  padding-top: 15px;
  margin-bottom: 0;
}
/* line 18, ../sass/main.scss */
.main_gohan .nav > li > a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px;
}
/* line 24, ../sass/main.scss */
.main_gohan .nav > li.active > a {
  color: #fff;
}
/* line 27, ../sass/main.scss */
.main_gohan .nav > li > a:hover, .main_gohan .nav > li > a:focus {
  background: transparent;
  text-decoration: underline;
}
/* line 32, ../sass/main.scss */
.main_gohan .nav > li.register {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
}
/* line 36, ../sass/main.scss */
.main_gohan .nav > li.register a.btn {
  text-decoration: none;
  padding: 10px 30px;
  line-height: 18px;
}
/* line 42, ../sass/main.scss */
.main_gohan .nav > li.register a.btn:hover, .main_gohan .nav > li.register a.btn:active, .main_gohan .nav > li.register a.btn:focus {
  color: #ffffff;
  background-color: #0c5999;
  border-color: #0a4578;
}
/* line 51, ../sass/main.scss */
.main_gohan .navbar-header .navbar-brand {
  padding: 0 15px;
}
/* line 54, ../sass/main.scss */
.main_gohan .navbar-header .navbar-logo {
  background: url(../img/gh-logo-white.png) no-repeat;
  background-size: 153px 50px;
  text-indent: -99999px;
  width: 153px;
  height: 50px;
  display: block;
}
/* line 63, ../sass/main.scss */
.main_gohan .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 66, ../sass/main.scss */
.main_gohan .navbar-toggle:not(.collapsed) {
  border-color: #fff;
}
/* line 70, ../sass/main.scss */
.main_gohan .container.main_text {
  position: relative;
  min-height: 420px;
}
/* line 73, ../sass/main.scss */
.main_gohan .container.main_text .lead {
  margin-top: 90px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  text-align: center;
}
/* line 78, ../sass/main.scss */
.main_gohan .container.main_text .lead h1 {
  font-size: 37px;
}
/* line 81, ../sass/main.scss */
.main_gohan .container.main_text .lead p {
  font-size: 22px;
}
/* line 85, ../sass/main.scss */
.main_gohan .container.main_text .btn-github {
  margin-top: 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 92, ../sass/main.scss */
.main_gohan .container.main_text .btn-github:hover {
  opacity: 0.8;
}

/* line 99, ../sass/main.scss */
.basic_container {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
/* line 102, ../sass/main.scss */
.basic_container h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 42px 0;
  color: #3d3f48;
}
/* line 109, ../sass/main.scss */
.basic_container h3 {
  text-align: center;
  color: #3d3f48;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 117, ../sass/main.scss */
.basic_container.odd {
  background-color: #ccd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZmFmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7f6f6), color-stop(100%, #f5fafb));
  background-image: -moz-linear-gradient(#e7f6f6, #f5fafb);
  background-image: -webkit-linear-gradient(#e7f6f6, #f5fafb);
  background-image: linear-gradient(#e7f6f6, #f5fafb);
}
/* line 121, ../sass/main.scss */
.basic_container .arch_block {
  text-align: center;
}
/* line 123, ../sass/main.scss */
.basic_container .arch_block img.arch {
  width: 90%;
  max-width: 520px;
  height: auto;
}
/* line 128, ../sass/main.scss */
.basic_container .arch_block img.arch_main {
  width: 90%;
  max-width: 760px;
  height: auto;
}
/* line 135, ../sass/main.scss */
.basic_container.usecase .col-md-6.ln {
  border-left: 1px dotted #ccc;
}
/* line 139, ../sass/main.scss */
.basic_container.faq {
  padding: 0 0 10px;
}
/* line 140, ../sass/main.scss */
.basic_container.faq h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 42px 0;
}
/* line 147, ../sass/main.scss */
.basic_container.faq h3 {
  text-align: center;
}
/* line 151, ../sass/main.scss */
.basic_container.faq dl.faq {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  background: -moz-linear-gradient(#ffffff, #fcfcfc);
  background: -webkit-linear-gradient(#ffffff, #fcfcfc);
  background: linear-gradient(#ffffff, #fcfcfc);
  margin-bottom: 32px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
}
/* line 155, ../sass/main.scss */
.basic_container.faq dl.faq dt {
  border-top: 3px solid #284fd2;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  color: #3d3f48;
}
/* line 161, ../sass/main.scss */
.basic_container.faq dl.faq dt:before {
  content: '?';
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background-color: #284fd2;
  display: inline-block;
  text-align: center;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
}
/* line 176, ../sass/main.scss */
.basic_container.faq dl.faq dd {
  font-size: 16px;
  padding: 5px 15px 20px;
  color: #808698;
}

/* line 185, ../sass/main.scss */
.features_container {
  padding: 0px 0 40px;
}
/* line 188, ../sass/main.scss */
.features_container .feature {
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}
/* line 192, ../sass/main.scss */
.features_container .feature img.img_feature {
  text-align: center;
  margin-bottom: 20px;
}
/* line 196, ../sass/main.scss */
.features_container .feature h2 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  min-height: 2.8em;
  color: #3d3f48;
}
/* line 205, ../sass/main.scss */
.features_container .feature p {
  font-size: 16px;
  text-align: left;
  color: #808698;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-word;
}
/* line 214, ../sass/main.scss */
.features_container .feature + .feature {
  margin-top: 40px;
}

/* line 220, ../sass/main.scss */
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 224, ../sass/main.scss */
footer .col-md-6.copy {
  text-align: right;
}
/* line 226, ../sass/main.scss */
footer .col-md-6.copy p {
  line-height: 40px;
}

/* media queries */
@media screen and (max-width: 991px) {
  /* line 241, ../sass/main.scss */
  .main_gohan .container.main_text {
    position: relative;
    min-height: 350px;
  }
  /* line 244, ../sass/main.scss */
  .main_gohan .container.main_text .lead {
    margin-top: 60px;
  }
  /* line 246, ../sass/main.scss */
  .main_gohan .container.main_text .lead h1 {
    font-size: 30px;
  }
  /* line 249, ../sass/main.scss */
  .main_gohan .container.main_text .lead p {
    font-size: 18px;
  }

  /* line 257, ../sass/main.scss */
  .basic_container.usecase .col-md-6.ln {
    border-left: none;
    border-top: 1px dotted #ccc;
    margin-top: 30px;
    padding-top: 30px;
  }

  /* line 266, ../sass/main.scss */
  footer .col-md-6 {
    text-align: center;
  }
  /* line 268, ../sass/main.scss */
  footer .col-md-6 p {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 277, ../sass/main.scss */
  .main_gohan .container.main_text {
    position: relative;
    min-height: 300px;
  }
  /* line 280, ../sass/main.scss */
  .main_gohan .container.main_text .lead {
    margin-top: 40px;
  }
  /* line 282, ../sass/main.scss */
  .main_gohan .container.main_text .lead h1 {
    font-size: 28px;
  }
  /* line 285, ../sass/main.scss */
  .main_gohan .container.main_text .lead p {
    font-size: 16px;
  }
}
@media screen and (max-width: 479px) {
  /* line 295, ../sass/main.scss */
  .main_gohan .container.main_text {
    position: relative;
    min-height: 300px;
  }
  /* line 298, ../sass/main.scss */
  .main_gohan .container.main_text .lead {
    margin-top: 40px;
  }
  /* line 300, ../sass/main.scss */
  .main_gohan .container.main_text .lead h1 {
    font-size: 24px;
  }
  /* line 303, ../sass/main.scss */
  .main_gohan .container.main_text .lead p {
    font-size: 14px;
  }
}
